In [2]:
import pandas as pd

#longline-ll, pl-pole and line, ps-purse seine
ll = pd.read_csv('L_SKJ_1.csv', header=None)
pl = pd.read_csv('P_SKJ_1.csv', header=None)
ps = pd.read_csv('S_SKJ_1.csv', header=None)

In [3]:
custom_headers = [
    "Gear", "Flag", "Year", "Region", "Annual-Catch-Estimate", 
    "Aggregate-Data-Area", "Aggregate-Data-Time", "Aggregate-Data-catch-recs", 
    "Operational-Data-catch-recs", "Length-Data-Area1", "Length-Data-Time1", 
    "Length-Data-Size-int1", "Length-Data-Samples1", "Length-Data-Area2", 
    "Length-Data-Time2", "Length-Data-Size-int2", "Length-Data-Samples2"
]

ll.columns = custom_headers
pl.columns = custom_headers
ps.columns = custom_headers

In [4]:
import numpy as np

# List of columns to apply the transformation to
columns_to_convert = [
    'Annual-Catch-Estimate', 'Aggregate-Data-catch-recs', 
    'Operational-Data-catch-recs', 'Length-Data-Samples1', 'Length-Data-Samples2'
]

# Replace commas, then replace any non-numeric values with NaN and convert to integers
ll[columns_to_convert] = ll[columns_to_convert].replace({',': ''}, regex=True)

# Convert to numeric, setting errors='coerce' will turn non-numeric values into NaN
ll[columns_to_convert] = ll[columns_to_convert].apply(pd.to_numeric, errors='coerce')

# Optionally, you can fill NaNs with a default value, like 0
ll[columns_to_convert] = ll[columns_to_convert].fillna(0).astype(int)
ll.head()

,Gear,Flag,Year,Region,Annual-Catch-Estimate,Aggregate-Data-Area,Aggregate-Data-Time,Aggregate-Data-catch-recs,Operational-Data-catch-recs,Length-Data-Area1,Length-Data-Time1,Length-Data-Size-int1,Length-Data-Samples1,Length-Data-Area2,Length-Data-Time2,Length-Data-Size-int2,Length-Data-Samples2
0,L,AU,1989,WCPFC,43,5x5,MON,24,92,5x5,MON,1,2,...,...,...,0
1,L,AU,1990,WCPFC,63,5x5,MON,29,170,5x5,MON,1,53,...,...,...,0
2,L,AU,1991,WCPFC,66,5x5,MON,35,221,5x5,MON,1,147,...,...,...,0
3,L,AU,1992,WCPFC,62,5x5,MON,42,353,5x5,MON,1,118,...,...,...,0
4,L,AU,1993,WCPFC,5,5x5,MON,44,302,5x5,MON,1,118,...,...,...,0

In [5]:
import numpy as np

# List of columns to apply the transformation to
columns_to_convert = [
    'Annual-Catch-Estimate', 'Aggregate-Data-catch-recs', 
    'Operational-Data-catch-recs', 'Length-Data-Samples1', 'Length-Data-Samples2'
]

# Replace commas, then replace any non-numeric values with NaN and convert to integers
pl[columns_to_convert] = pl[columns_to_convert].replace({',': ''}, regex=True)

# Convert to numeric, setting errors='coerce' will turn non-numeric values into NaN
pl[columns_to_convert] = pl[columns_to_convert].apply(pd.to_numeric, errors='coerce')

# Optionally, you can fill NaNs with a default value, like 0
pl[columns_to_convert] = pl[columns_to_convert].fillna(0).astype(int)
pl.head()

,Gear,Flag,Year,Region,Annual-Catch-Estimate,Aggregate-Data-Area,Aggregate-Data-Time,Aggregate-Data-catch-recs,Operational-Data-catch-recs,Length-Data-Area1,Length-Data-Time1,Length-Data-Size-int1,Length-Data-Samples1,Length-Data-Area2,Length-Data-Time2,Length-Data-Size-int2,Length-Data-Samples2
0,P,FJ,1990,WCPFC,3196,1x1,MON,75,564,5x5,MON,1,5,...,...,...,0
1,P,FJ,1991,WCPFC,4458,1x1,MON,122,940,5x5,MON,1,100,...,...,...,0
2,P,FJ,1992,WCPFC,3705,1x1,MON,130,1154,5x5,MON,1,2824,...,...,...,0
3,P,FJ,1994,WCPFC,3379,1x1,MON,140,847,5x5,MON,1,1115,10x20,MON,1,490
4,P,FJ,1995,WCPFC,4319,1x1,MON,69,611,10x20,MON,1,1719,5x5,MON,1,1577

In [6]:
import numpy as np

# List of columns to apply the transformation to
columns_to_convert = [
    'Annual-Catch-Estimate', 'Aggregate-Data-catch-recs', 
    'Operational-Data-catch-recs', 'Length-Data-Samples1', 'Length-Data-Samples2'
]

# Replace commas, then replace any non-numeric values with NaN and convert to integers
ps[columns_to_convert] = ps[columns_to_convert].replace({',': ''}, regex=True)

# Convert to numeric, setting errors='coerce' will turn non-numeric values into NaN
ps[columns_to_convert] = ps[columns_to_convert].apply(pd.to_numeric, errors='coerce')

# Optionally, you can fill NaNs with a default value, like 0
ps[columns_to_convert] = ps[columns_to_convert].fillna(0).astype(int)
ps.head()

,Gear,Flag,Year,Region,Annual-Catch-Estimate,Aggregate-Data-Area,Aggregate-Data-Time,Aggregate-Data-catch-recs,Operational-Data-catch-recs,Length-Data-Area1,Length-Data-Time1,Length-Data-Size-int1,Length-Data-Samples1,Length-Data-Area2,Length-Data-Time2,Length-Data-Size-int2,Length-Data-Samples2
0,S,CK,2019,WCPFC,1715,1x1,MON,32,60,5x5,MON,1,1867,...,...,...,0
1,S,CK,2020,WCPFC,256,1x1,MON,12,14,5x5,MON,1,190,...,...,...,0
2,S,CK,2023,WCPFC,2366,1x1,MON,35,41,5x5,MON,1,616,...,...,...,0
3,S,CN,2002,WCPFC,6876,1x1,MON,154,221,5x5,MON,1,2739,...,...,...,0
4,S,CN,2003,WCPFC,18025,1x1,MON,387,291,10x20,MON,1,89,...,...,...,0

# Merge all into one df

In [7]:
df = pd.concat([ll, pl, ps], ignore_index=True)

#### Countries that catches the most fish over the years in this dataset

In [13]:
df[df['Year']==2023]['Annual-Catch-Estimate'].groupby(df['Gear']).sum()

Gear
L       2631
P      89026
S    1172791
Name: Annual-Catch-Estimate, dtype: int64

In [50]:
df.groupby("Flag")["Annual-Catch-Estimate"].sum().sort_values(ascending=False).head(10)

Flag
JP       2178400
KR        740074
TW        458178
CN        233628
ID        147384
US-HW     131586
VN         55504
VU         53389
FM         36636
FJ         25592
Name: Annual-Catch-Estimate, dtype: int64

#### Countries that catches the most skipjack tuna **IN 2023** with all types of gears

In [16]:
df[df['Year']==2023]['Annual-Catch-Estimate'].groupby(df['Flag']).sum().sort_values(ascending=False).head(10)

Flag
KR    183280
KI    179464
JP    164606
ID    147274
FM    114626
PG     93103
NR     81333
VN     58541
MH     54881
PH     45563
Name: Annual-Catch-Estimate, dtype: int64

#### TOP 5 countries efficiency

In [17]:
#korea efficency
kr_recs = df[(df['Flag'] == 'KR') & (df['Year'] == 2023)]['Operational-Data-catch-recs'].sum()
kr_fish = df[(df['Flag'] == 'KR') & (df['Year'] == 2023)]['Annual-Catch-Estimate'].sum()
kr_fish/kr_recs

50.6858407079646

In [18]:
#Kiribati efficency
ki_recs = df[(df['Flag'] == 'KI') & (df['Year'] == 2023)]['Operational-Data-catch-recs'].sum()
ki_fish = df[(df['Flag'] == 'KI') & (df['Year'] == 2023)]['Annual-Catch-Estimate'].sum()
ki_fish/ki_recs

24.73318632855568

In [20]:
#japan efficency
jp_recs = df[(df['Flag'] == 'JP') & (df['Year'] == 2023)]['Operational-Data-catch-recs'].sum()
jp_fish = df[(df['Flag'] == 'JP') & (df['Year'] == 2023)]['Annual-Catch-Estimate'].sum()
jp_fish/jp_recs

52.87696755541278

In [19]:
#Indonesia efficency
id_recs = df[(df['Flag'] == 'ID') & (df['Year'] == 2023)]['Operational-Data-catch-recs'].sum()
id_fish = df[(df['Flag'] == 'ID') & (df['Year'] == 2023)]['Annual-Catch-Estimate'].sum()
id_fish/id_recs

10.16664365594367

In [21]:
#Micronesia efficency
fm_recs = df[(df['Flag'] == 'FM') & (df['Year'] == 2023)]['Operational-Data-catch-recs'].sum()
fm_fish = df[(df['Flag'] == 'FM') & (df['Year'] == 2023)]['Annual-Catch-Estimate'].sum()
fm_fish/fm_recs

25.060341058154787

#### Average efficiency

In [24]:
recs_2023 = df[df['Year'] == 2023]['Operational-Data-catch-recs'].sum()
fish_2023 = df[df['Year'] == 2023]['Annual-Catch-Estimate'].sum()

fish_2023/recs_2023

16.337170691370467

In [8]:
df.to_csv('skj-tuna.csv', index=False)